# Stock clocks, but undervolted for thermals
# CONFIG_NIGHTLY_OC_GPU is not set
# CONFIG_NIGHTLY_OC_CCI is not set
CONFIG_NIGHTLY_UV=y

# Smart CPU Governor (Default Android behavior)
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE is not set

# Balanced Tick Rate (Standard Android 300Hz)
CONFIG_HZ_300=y
# CONFIG_HZ_100 is not set
CONFIG_HZ=300

# Standard frequency scaling ramp-up
CONFIG_PELT_UTIL_HALFLIFE_16=y
# CONFIG_PELT_UTIL_HALFLIFE_8 is not set

# BORE Scheduler on
CONFIG_SCHED_BORE=y

# Fair I/O sharing
CONFIG_DEFAULT_IOSCHED="bfq"
CONFIG_DEFAULT_BFQ=y