# Undervolt on, Overclocks off
CONFIG_NIGHTLY_UV=y
# CONFIG_NIGHTLY_OC_GPU is not set
# CONFIG_NIGHTLY_OC_CCI is not set

# Slow ramp-up governor
CONFIG_CPU_FREQ_DEFAULT_GOV_CONSERVATIVE=y
# CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL is not set

# Minimize CPU wakeups (100Hz)
CONFIG_HZ_100=y
# CONFIG_HZ_300 is not set
CONFIG_HZ=100

# Slow frequency scaling (32ms half-life ignores micro-loads)
CONFIG_PELT_UTIL_HALFLIFE_32=y
# CONFIG_PELT_UTIL_HALFLIFE_16 is not set

# Disable BORE (saves slight overhead, uses standard CFS)
# CONFIG_SCHED_BORE is not set

# Power efficient workqueues
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y